@{
    ViewBag.Title = "About";
}
<center>
    <h4>SkrinDisk</h4> – это сервис предотвращения краж автомобильных дисков и колес.
    Генерируем уникальный код, делаем нестираемую гравировку на диски в авторизованных сервисах.
    Проверяем по нашей базе - не ворованные ли б/у диски перед покупкой.
    <br />
    <h3> Наш сервис нужен в двух случаях:</h3>
    <ol>
        <li>	Вы купили новые колеса и диски на свой автомобиль (или просто новый авто) и хотите защититься от воровства.</li>
        <li>	Вам предлагают б/у диски по «вкусной» цене, у вас появились сомнения в их происхождении и вы хотите проверить – не ворованные ли они.</li>
    </ol>
    <br />
    <h3>Как работает сервис?</h3>
    <ul>
        <li> Вы счастливый обладатель новых дисков:
        <ol>
            <li>Сфотографируйте на телефон все 4-е диска</li>
            <li>
                Зарегистрируйтесь на нашем сайте
            </li>
            <li>
                c.	Загрузите фотографии своих дисков в базу нашего сайта
            </li>
            <li>
                d.	Нажмите кнопку «Генерировать код», произведите оплату и получите код на свою эл.почту.
            </li>
            <li>  e.	Приезжаете в один из авторизованных сервисов, показываете код,  на ваши диски наносят нестираемую гравировку. </li>
        </ol>
        <li>	Вам предлагают купить б/у диски:
            <ol>
                <li>
                    Запишите или сфотографируйте коды на дисках
                </li>
                <li>
                    Вводите коды на нашем сайте, указываете мобильный телефон продавца и нажимаете кнопку «Проверить»
                </li>

                <li>	Если диски были украдены (владелец поставил такой флажок на сайте) – система выдаст ответ «Диски ворованные». Одновременно с этим система отправит сообщение о выявленном факте воровства: администрации сайта, владельцу дисков и в МВД РФ. Покупать такие диски или нет – решать вам.</li>
            </ol>
            </ul>
    Мы работаем над развитием нашего сервиса. Нужно ли внедрить на сайте продажу онлайн-страховки от кражи дисков или нет?  Считаете, что штука стоящая – напишите, пожалуйста, нам на эл.почту.  Если таких отзывов будет много – мы добавим этот функционал.
</center>