@if (@ViewBag.Check != null)
{
    switch (@ViewBag.Check)
    {
        case 0: break;
        case 1:<img src="../../Content/a1.png"><br />
            <h3>Диски были украдены </h3> <p>Необходимо обратиться в МВД для поимки воров.</p> break;
        case 2: <img src="../../Content/a2.png"><br />
            <h3>Диски не были украдены </h3>break;
        case 3:<img src="../../Content/a3.png"><br />
            <h3>Информация по данным дискам отсутствует </h3> break;
        default:<h3>  </h3>break;
    }


}
