@if (@ViewBag.Check != null)
{
    switch (@ViewBag.Check)
    {
        case 0: break;
        case 1:<img src="../../Content/a1.png"><br />
            <h3>Диски были украдены </h3> <p>Необходимо обратиться в МВД для поимки воров.</p> break;
        case 2: <img src="../../Content/a1.png"><br />
            <h3>Неверный пин-код активации </h3>break;
        case 3:<img src="../../Content/a3.png"><br />
            <h3>Информация по данным дискам отсутствует </h3> break;
        case 4:<img src="../../Content/a3.png"><br />
            <h3>У данного кода запрет на активацию </h3> break;
        case 5: <h3>Активация прошла успешно!</h3>
            <script> window.location.href ='Home/CreateDisksPinRoute/@ViewBag.IdDisks/@ViewBag.pin';</script>break;
        default:<h3>  </h3>break;
    }


}
