


<script type="text/javascript">
    $(document).ready(function () { t456_highlight(); t456_checkAnchorLinks('47316775'); });
    $(window).resize(function () {
        t456_setBg('47316775');
    });
    $(document).ready(function () {
        t456_setBg('47316775');
    });</script>
<style>
    #rec47316775 .t-menu__link-item {
        -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

        #rec47316775 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover {
            color: #f5ed05 !important;
        }
</style>
<!--[if IE 8]><style>#rec47316775 .t456 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
}</style><![endif]-->
<div id="rec47316776" class="r t-rec t-rec_pt_120 t-rec_pb_90" style="padding-top:120px;padding-bottom:90px; " data-record-type="60">
    <!-- T050 --><div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1">
                <div class="t050__uptitle t-uptitle t-uptitle_sm" field="subtitle" style="text-transform:uppercase;">выбирайте предпочтительный вариант<br /></div>
                <div class="t050__title t-title t-title_xxl" field="title" style="">Создать код<br />и оплатить гравировку<br /></div>
                <div class="t050__descr t-descr t-descr_xxl" field="descr" style="">
                    На этой странице Вы сможете оплатить создание уникального кода сервисом SkrinDisk и нанесение гравировки в одном из авторизованных сервисов.<br />
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="rec47315556" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#f0f0f0; " data-animationappear="off" data-record-type="592" data-bg-color="#f0f0f0">
    <div class="t592">
    <div class="t-section__container t-container"><div class="t-col t-col_12"><div class="t-section__topwrapper t-align_center"><div class="t-section__title t-title t-title_xs" field="btitle">Сколько стоит<br />генерация кода?<br /></div><div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">В сравнении с ценой дисков - копейки.</div></div></div></div>


    <div class="t-container ">

        <div class="t592__col t-col t-col_6 ">
            <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                <div class="t-cell">
                    <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price_old">750 руб.</div>
                    <div class="t592__price t-heading t-heading_md" style="" field="price">500 руб.</div>
                    <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr">
                        Эконом - вариант. Нанесение в порядке живой очереди.<br /><br />В цену включено: генерация уникального кода + гравировка на 4-е диска.<br />
                    </div>
                    <a href="CreateDisks" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить код и нанесение гравировки</td></tr></table></a>
                    <br /><br />
                    <p style="font-size:12px">*Перед покупкой убедитесь, что в вашем городе есть сервисы, которые наносят код Skrindisk'a.</p>
                </div>
            </div>
        </div>
        <div class="t592__col t-col t-col_6 " style="margin-left:10px">
            <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                <div class="t-cell">
                    <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">2000 руб.</div>
                    <div class="t592__price t-heading t-heading_md" style="" field="price2">1500 руб.</div>
                    <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">
                        VIP. Без очередей. Приезжаете - и первый свободный мастер сервиса наносит гравировку.<br /><br />В цену включено: генерация уникального кода + гравировка на 4-е диска.<br />
                    </div>

                    <a href="CreateDisksV" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить код и нанесение гравировки</td></tr></table></a>
                    <br /><br />
                    <p style="font-size:12px">*Перед покупкой убедитесь, что в вашем городе есть сервисы, которые наносят код Skrindisk'a.</p>

                </div>
            </div>
        </div>


    </div>




    <div class="t592">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                </div>
            </div>
        </div>


        <div class="t-container ">

            <div class="t592__col t-col t-col_6 ">
                <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                    <div class="t-cell">
                        <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">10 000 руб.</div>
                        <div class="t592__price t-heading t-heading_md" style="" field="price2">9000 руб.</div>
                        <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">Оптовая продажа 10 дисков.<br /><br />В цену включено: генерация 10 уникальных кодов.<br /></div>
                        <a href="../home/CreateListDisks/10" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить 10 кодов</td></tr></table></a>
                    </div>
                </div>
            </div>
            <div class="t592__col t-col t-col_6 ">
                <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                    <div class="t-cell">
                        <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">50 000 руб.</div>
                        <div class="t592__price t-heading t-heading_md" style="" field="price2">50 000 руб.</div>
                        <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">Оптовая продажа 40 дисков.<br /><br />В цену включено: генерация 50 уникальных кодов.<br /></div>
                        <a href="../home/CreateListDisks/50" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить 50 кодов</td></tr></table></a>
                    </div>
                </div>
            </div>

        </div>


        <script type="text/javascript">$(document).ready(function () { setTimeout(function () { t592_init('47315556'); }, 500); $(window).bind('resize', t_throttle(function () { t592_init('47315556') }, 250)); $('.t592').bind('displayChanged', function () { t592_init('47315556'); }); });</script>
    </div>
</div>
</div>-->
<div id="rec47321629" class="r t-rec t-rec_pt_135 t-rec_pb_30" style="padding-top:135px;padding-bottom:30px; " data-record-type="33">
    <!-- T017 -->
    <div class="t017"> <div class="t-container t-align_center"> <div class="t-col t-col_10 t-prefix_1"> <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">купили код - что дальше?</div> <div class="t017__title t-title t-title_xxs" field="title" style="">Один шаг - выбрать ближайший сервис и нанести гравировку</div> </div> </div></div>
</div><div id="rec47322046" class="r t-rec t-rec_pt_90 t-rec_pb_150" style="padding-top:90px;padding-bottom:150px; " data-record-type="191">
    <!-- T142 --><div class="t142"><div class="t-container_100"> <div class="t142__wrapone"><div class="t142__wraptwo"> <a href="AutoServices2" class=""><div class="t-btn t142__submit " style="color:#000000;border:3px solid #000000;">Выбрать сервис и нанести гравировку</div></a> </div> </div></div></div>
    <script type="text/javascript">    $(document).ready(function () { t142_checkSize('47322046'); }); $(window).load(function () { t142_checkSize('47322046'); });</script>
</div>




