
<!DOCTYPE html>
<html>
<head>

</head>
<body class="t-body" style="margin:0;">

    <div id="rec46750502" class="r t-rec" style=" " data-animationappear="off" data-record-type="456">

        <script type="text/javascript">
            $(document).ready(function () { t456_highlight(); t456_checkAnchorLinks('46750502'); });
            $(window).resize(function () {
                t456_setBg('46750502');
            });
            $(document).ready(function () {
                t456_setBg('46750502');
            });</script>
        <style>
            #rec46750502 .t-menu__link-item {
                -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
                transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
            }

                #rec46750502 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover {
                    color: #f5ed05 !important;
                }
        </style>
        <!--[if IE 8]><style>#rec46750502 .t456 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
        }</style><![endif]-->
    </div><div id="rec46744718" class="r t-rec" style=" " data-animationappear="off" data-record-type="204">
        <!-- cover --><div class="t-cover" id="recorddiv46744718" bgimgfield="img" style="height:100vh; background-image:url('../../images/tild3036-3131-4934-b633-356631303739__-__resize__20x__0_932dd_1262885f_ori.jpg');">
            <div class="t-cover__carrier" id="coverCarry46744718" data-content-cover-id="46744718" data-content-cover-bg="../../images/tild3036-3131-4934-b633-356631303739__0_932dd_1262885f_ori.jpg" data-content-cover-height="100vh" data-content-cover-parallax="fixed" style="background-image:url('');height:100vh; "></div>
            <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.60));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.60));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.60));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.60));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#66000000');"></div>
            <div class="t-container">
                <div class="t-col t-col_8">
                    <div class="t-cover__wrapper t-valign_middle" style="height:100vh; position: relative;z-index: 1;">
                        <div class="t181">
                            <div data-hook-content="covercontent">
                                <div class="t181__wrapper">
                                    <div class="t181__title t-title t-title_md" style="" field="title">Защитите свой автомобиль от кражи дисков</div>
                                    <div class="t181__descr t-descr t-descr_lg t-opacity_70" style="" field="descr">
                                        <strong><u data-redactor-tag="u"></u>Новые:</strong> SkrinDisk генерирует уникальный код, в автосервисах его гравируют на диски. В случае кражи их легче найти.<br />
                                        <strong>Б/у:</strong> проверить диски перед покупкой, если на них уже есть код SkrinDisk, чтобы случайно не купить краденое.
                                    </div> <div style="margin-top:60px;">
                                        <a href="CreateDisks2" class="t-btn " style="color:#000000;background-color:#ffea00;"><table style="width:100%; height:100%;"><tr><td>Создать код!</td></tr></table></a> <a href="#checkdisk" class="t-btn " style="color:#000000;background-color:#e0e0e0;"><table style="width:100%; height:100%;"><tr><td>Проверить диски перед покупкой</td></tr></table></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rec46741631" class="r t-rec" style=" " data-record-type="215">
        <a name="services" style="font-size:0;"></a>
    </div><div id="rec46747040" class="r t-rec t-rec_pt_150 t-rec_pb_150" style="padding-top:150px;padding-bottom:150px; " data-record-type="512">
        <!-- t512 --><div class="t512">
            <div class="t-section__container t-container"><div class="t-col t-col_12"><div class="t-section__topwrapper t-align_center"><div class="t-section__title t-title t-title_xs" field="btitle">Зачем нужен сервис?</div><div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">"Секретки" и "хитрые" болты - <br />теперь прошлый век. </div></div></div></div><div class="t-container">
                <div class="t-col t-col_8 t-prefix_2 t-item"> <div class="t-cell t-valign_top"> <div class="t512__bgimg t-bgimg" bgimgfield="li_img__1476961779840" data-original="../../images/tild3763-6461-4836-b261-353035633734__1.svg" style=" background-image: url('../../images/tild3763-6461-4836-b261-353035633734__-__resize__20x__1.svg');"></div> </div> <div class="t512__textwrapper t512__textwr_leftpadding t-cell t-valign_top" style=""> <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961779840">Защитить диски от кражи</div> <div class="t-descr t-descr_sm" style="" field="li_descr__1476961779840">Вы купили новые или б/у диски на свой автомобиль и хотите защититься от кражи.<br /></div> </div> </div> <div class="t-clear t512__separator" style=""></div> <div class="t-col t-col_8 t-prefix_2 t-item">
                    <div class="t-cell t-valign_top"> <div class="t512__bgimg t-bgimg" bgimgfield="li_img__1476961806716" data-original="../../images/tild6630-3033-4237-a564-646431313432__2.svg" style=" background-image: url('../../images/tild6630-3033-4237-a564-646431313432__-__resize__20x__2.svg');"></div> </div> <div class="t512__textwrapper t512__textwr_leftpadding t-cell t-valign_top" style="">
                        <div class="t-name t-name_md t512__bottommargin" style="" field="li_title__1476961806716">Защититься от покупки краденого</div> <div class="t-descr t-descr_sm" style="" field="li_descr__1476961806716">Вам предлагают б/у диски по низкой цене, у вас появились сомнения в их происхождении и вы хотите проверить – не краденные ли они.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="rec46748250" class="r t-rec" style=" " data-animationappear="off" data-record-type="698">
        <!-- t698 --><!-- cover --><div class="t-cover" id="recorddiv46748250" bgimgfield="img" style="height:100vh; background-image:url('../../images/tild3437-6463-4033-a436-383437663565__-__resize__20x__fonstolaru-117280.jpg');">
            <p><a name="checkdisk" style="font-size:0;"></a></p>
            <div class="t-cover__carrier" id="coverCarry46748250" data-content-cover-id="46748250" data-content-cover-bg="../../images/tild3437-6463-4033-a436-383437663565__fonstolaru-117280.jpg" data-content-cover-height="100vh" data-content-cover-parallax="" style="background-image:url('');height:100vh;background-attachment:scroll; "></div> <div class="t-cover__filter" style="height:100vh;background-color:#29221c;filter: alpha(opacity:70);  opacity: 0.70;"></div> <div class="t698">
                <div class="t-container ">
                    <div class="t-width t-width_8 t698__mainblock">
                        <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                            <div class="t698__mainwrapper" data-hook-content="covercontent">

                                <div class="t698__title t-title t-title_xs" style="" field="title">Проверьте б/у диски перед покупкой</div> <div class="t698__descr t-descr t-descr_md" style="" field="descr">При наличии гравировки с кодом SkrinDisk. Впишите телефон продавца. Если диски - краденные, по этому номеру его быстрее найдут.</div>
                                <div>
                                    @using (Ajax.BeginForm("CheckDisk", new
                                    {
                                        enctype = "multipart/form-data",
                                        onsubmit = "validate"
                                    }, new AjaxOptions
                                    {

                                        OnSuccess = "OnSuccess",
                                        UpdateTargetId = "results",
                                        LoadingElementId = "loading",
                                        LoadingElementDuration = 10
                                    }))
                                    {

                                        <div class="t-form__inputsbox">
                                            <div class="t-input-group t-input-group_in" data-input-lid="1495646533382">
                                                <div class="t-input-block">
                                                    <input id="code" type="text" name="code" class="t-input js-tilda-rule" value="" placeholder="# кода на дисках" style=" box-sizing: border-box; width:100%;max-width:700px; color:#000000; background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
                                                    <div class="t-input-error"></div>
                                                </div>
                                            </div>
                                            <div class="t-input-group t-input-group_ph" data-input-lid="1495646545048">
                                                <div class="t-input-block">
                                                    <input id="phone" type="text" name="number" class="t-input js-tilda-rule" value="" placeholder="Телефон" data-tilda-rule="phone" style="box-sizing: border-box;max-width:700px;width:100%;color:#000000; background-color:#ffffff; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
                                                    <div class="t-input-error"></div>
                                                </div>
                                            </div>
                                            <div class="t-form__errorbox-middle">
                                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">
                                                    <div class="t-form__errorbox-text t-text t-text_md">
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-all"></p> <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p> <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p> <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>
                                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p> <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="t-form__submit"> <button type="submit" onclick="return validate();" class="t-submit" style="color:#ffffff;background-color:#ff7300;border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;">Проверить диски</button> </div>
                                        </div>
                                    }


                                    <style>
                                        #rec46748250 input::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 input::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 input:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 input:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 textarea::-webkit-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 textarea::-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 textarea:-moz-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }

                                        #rec46748250 textarea:-ms-input-placeholder {
                                            color: #000000;
                                            opacity: 0.5;
                                        }
                                    </style>

                                </div>
                                <div class="t698__form-bottom-text t-text t-text_xs" field="text">Нажимая кнопку "Проверить диски", пользователь соглашается с обработкой персональных данных.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">$('#rec46748250').find('.js-form-proccess').on('tildaform:aftererror', function (e) { e.preventDefault(); t698_fixcontentheight('46748250'); }); $('.t698').bind('displayChanged', function () { t698_fixcontentheight('46748250'); });</script>
    </div>
    <a name="stepbystep" style="font-size:0;"></a>
    <div id="rec46741634" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; " data-record-type="565">
        <!-- T565 --><div class="t565">
            <div class="t-section__container t-container"><div class="t-col t-col_12"><div class="t-section__topwrapper t-align_center"><div class="t-section__title t-title t-title_xs" field="btitle">Как воспользоваться сервисом, <br />если диски еще новые и кода нет?</div></div></div></div> <div class="t-container t565__container">
                <div class="t565__item"> <div class="t-width t-width_8 t565__mainblock"> <div class="t565__col"> <div class="t565__linewrapper"> <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">1</div> </div> </div> <div class="t565__block"> <div class="t565__title t-name t-name_lg" field="li_title__1479137044697" style="">Раз</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137044697" style="">Сфотографируйте на телефон все 4-е диска. <br /></div> </div> </div> </div> </div> <div class="t565__item">
                    <div class="t-width t-width_8 t565__mainblock">
                        <div class="t565__col t565__flipped">
                            <div class="t565__linewrapper">
                                <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div>
                                <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">2</div> </div>
                            </div> <div class="t565__block-flipped"> <div class="t565__title t-name t-name_lg" field="li_title__1479137356907" style="">Два</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137356907" style="">Зарегистрируйтесь на нашем сайте<br /></div> </div>
                        </div>
                    </div>
                </div> <div class="t565__item">
                    <div class="t-width t-width_8 t565__mainblock">
                        <div class="t565__col">
                            <div class="t565__linewrapper"> <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">3</div> </div> </div> <div class="t565__block">
                                <div class="t565__title t-name t-name_lg" field="li_title__1479137790652" style="">Три</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137790652" style="">Загрузите фотографии своих дисков в базу нашего сайта<br /> <br /></div>
                            </div>
                        </div>
                    </div>
                </div> <div class="t565__item"> <div class="t-width t-width_8 t565__mainblock"> <div class="t565__col t565__flipped"> <div class="t565__linewrapper"> <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">4</div> </div> </div> <div class="t565__block-flipped"> <div class="t565__title t-name t-name_lg" field="li_title__1479137793455" style="">Четыре</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137793455" style="">Нажмите кнопку «Генерировать код», произведите оплату и получите код на свою эл.почту.</div> </div> </div> </div> </div>
                <div class="t565__item">
                    <div class="t-width t-width_8 t565__mainblock">
                        <div class="t565__col">
                            <div class="t565__linewrapper"> <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">5</div> </div> </div> <div class="t565__block">
                                <div class="t565__title t-name t-name_lg" field="li_title__1520280802789" style="">Пять</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1520280802789" style="">
                                    Приезжаете в удобный для Вас автосервис (из числа авторизованных, к примеру), показываете наш код, его специалисты делают гравировку на диски.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div id="rec46751918" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px; " data-record-type="363">
        <!-- T029 --><div class="t029">
            <div class="t029__container t-container">
                <div class="t029__col t-col t-col_8">
                    <div class="t029__linewrapper" style="opacity:0.2;">
                        <div class="t029__opacity t029__opacity_left" style="background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); "></div> <div class="t029__line" style="background: #000000;"></div> <div class="t029__opacity t029__opacity_right" style="background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); "></div>
                    </div>
                </div>
            </div>
        </div>
    </div><div id="rec46751682" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; " data-record-type="565">
        <!-- T565 --><div class="t565">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">Вам предлагают купить <br />подержанные диски?</div>
                    </div>
                </div>
            </div> <div class="t-container t565__container">
                <div class="t565__item"> <div class="t-width t-width_8 t565__mainblock"> <div class="t565__col"> <div class="t565__linewrapper"> <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">1</div> </div> </div> <div class="t565__block"> <div class="t565__title t-name t-name_lg" field="li_title__1479137044697" style="">Раз</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137044697" style="">Запишите или сфотографируйте код на дисках. <br /></div> </div> </div> </div> </div> <div class="t565__item">
                    <div class="t-width t-width_8 t565__mainblock">
                        <div class="t565__col t565__flipped">
                            <div class="t565__linewrapper">
                                <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div>
                                <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;"> <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">2</div> </div>
                            </div> <div class="t565__block-flipped"> <div class="t565__title t-name t-name_lg" field="li_title__1479137356907" style="">Два</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137356907" style="">Вводите код на нашем сайте, указываете мобильный телефон продавца и нажимаете кнопку «Проверить»<br /></div> </div>
                        </div>
                    </div>
                </div> <div class="t565__item">
                    <div class="t-width t-width_8 t565__mainblock">
                        <div class="t565__col">
                            <div class="t565__linewrapper">
                                <div class="t565__line" style="width: 2px;background-color:#8f8f8f;"></div> <div class="t565__circle" style=" border-width: 2px; border-color: #8f8f8f; background: #ffffff;">
                                    <div class="t565__number t-name t-name_md" style="color: #8f8f8f;">3</div>
                                </div>
                            </div> <div class="t565__block">
                                <div class="t565__title t-name t-name_lg" field="li_title__1479137790652" style="">Три</div> <div class="t565__descr t-text t-text_xs" field="li_descr__1479137790652" style="">
                                    Если диски были украдены (владелец нажал такую кнопку в разделе "Мои диски") – система выдаст результатом проверки сообщение: «Диски украдены».<br /><br />
                                    Одновременно с этим система отправит сообщение о выявленном факте кражи: администрации сайта, владельцу дисков и в МВД РФ.<br /><br />
                                    Покупать такие диски или нет – решать вам. Сослаться в дальнейшем на то, что Вы ничего не знали не получится. Покупатель, который заранее знает, что вещь - краденая, добросовестным не является. Такие сделки по закону оспариваются.<br /> <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rec51773978" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px; " data-record-type="363"><!-- T029 --><div class="t029"> <div class="t029__container t-container"> <div class="t029__col t-col t-col_8"> <div class="t029__linewrapper" style="opacity:0.2;"> <div class="t029__opacity t029__opacity_left" style="background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));"></div> <div class="t029__line" style="background: #000000;"></div> <div class="t029__opacity t029__opacity_right" style="background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));"></div> </div> </div> </div></div></div>
    <a name="clientstory" style="font-size:0;"></a>
    <div id="rec46741642" class="r t-rec t-rec_pt_60 t-rec_pb_60" style="padding-top:60px;padding-bottom:60px; " data-record-type="255"><!-- T225 --><div class="t225"> <div class="t-container t-align_center"> <div class="t-col t-col_8 t-prefix_2"> <div class="t225__title t-title t-title_md" field="title" style="font-size:42px;">Истории <br />наших клиентов</div> </div> </div></div></div><div id="rec51771753" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px; " data-record-type="239"><!-- T210 --><div class="t210"><div class="t-container"><div class="t-col t-col_10 t-prefix_2"> <div class="t-col t-col_5 t210__descrblock"><div class="t210__line"></div> <div class="t210__descr t-text-impact t-text-impact_sm" field="descr">Четыре примера из жизни, как наши клиенты стали использовать код SkrinDisk'a.</div> </div> <div class="t-col t-col_8" style="margin:0; float:none; display:inherit;"><div class="t210__text t-text t-text_md" field="text">Первая история - про частного предпринимателя Михаила Яковлева. Все, что имеет - заработал своим трудом. Купил Тойоту Камри, сразу заменил обычные болты на "секретки". Когда узнал про SkrinDisk - дополнительно сделал гравировку кода на диски. Теперь спокоен.<br /><br />Вторая история - от начальника отдела продаж автосалона в Ростове-на-Дону. Чтобы отличаться от конкурентов, начали улучшать клиентский сервис, внедрять "фишки" - одна из них - нанесение гравировки с кодом Skrindisk'a на диски всех автомобилей, продаваемых в салоне. Клиенты заботу оценили.<br /><br />История третья - от Александра Тихонова, хозяина автосервиса и шиномонтажной мастерской в Краснодаре. Как и во многих сервисах и "шинках", у них можно выправить диски, проточить их, покрасить. Думали на каких доп.услугах еще можно заработать. Когда узнали о Skrindisk'e, добавили услугу нанесения гравировки с кодом для защиты от кражи дисков. Покупают коды оптом.<br /><br />Четвертая история - про интернет-магазин Светланы Климовой. Специализация магазина - продажи шин и дисков онлайн. Конкуренция - очень высокая. Нужно как-то выделяться, при этом не скатываясь в демпинг. Когда узнали про SkrinDisk - решили вместо скидки сразу на новые диски наносить гравировку с кодом для защиты от кражи. Клиенты довольны. Магазин - тоже, коды покупают оптом.<br /></div> </div></div></div></div></div><div id="rec51769152" class="r t-rec" style=" " data-record-type="215"><a name="price" style="font-size:0;"></a></div>

    <a name="price" style="font-size:0;"></a>
    <div id="rec47315556" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px;background-color:#f0f0f0; " data-animationappear="off" data-record-type="592" data-bg-color="#f0f0f0">
        <!-- T592 --><div class="t592">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">
                            Сколько стоит<br />генерация кода и нанесение гравировки?<br />
                        </div><div class="t-section__descr t-descr t-descr_xl t-margin_auto" field="bdescr">
                            В сравнении с размером возможного ущерба при краже дисков - сумма символическая.
                        </div>
                    </div>
                </div>
            </div>


            <div class="t-container ">

                <div class="t592__col t-col t-col_6 ">
                    <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                        <div class="t-cell">
                            <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price_old">750 руб.</div>
                            <div class="t592__price t-heading t-heading_md" style="" field="price">500 руб.</div>
                            <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr">
                                Эконом - вариант. Нанесение в порядке живой очереди.<br /><br />В цену включено: генерация уникального кода + гравировка на 4-е диска.<br />
                            </div>
                            <a href="CreateDisks" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить код и нанесение гравировки</td></tr></table></a>
                            <br /><br />
                            <p style="font-size:12px">*Перед покупкой убедитесь, что в вашем городе есть сервисы, которые наносят код Skrindisk'a.</p>
                        </div>
                    </div>
                </div>
                <div class="t592__col t-col t-col_6 " style="margin-left:10px">
                    <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                        <div class="t-cell">
                            <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">2000 руб.</div>
                            <div class="t592__price t-heading t-heading_md" style="" field="price2">1500 руб.</div>
                            <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">
                                VIP. Без очередей. Приезжаете - и первый свободный мастер сервиса наносит гравировку.<br /><br />В цену включено: генерация уникального кода + гравировка на 4-е диска.<br />
                            </div>

                            <a href="CreateDisksV" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить код и нанесение гравировки</td></tr></table></a>
                            <br /><br />
                            <p style="font-size:12px">*Перед покупкой убедитесь, что в вашем городе есть сервисы, которые наносят код Skrindisk'a.</p>

                        </div>
                    </div>
                </div>


            </div>




            <!-- T592 --><div class="t592">
                <div class="t-section__container t-container">
                    <div class="t-col t-col_12">
                        <div class="t-section__topwrapper t-align_center">
                        </div>
                    </div>
                </div>


                <div class="t-container ">

                    <div class="t592__col t-col t-col_6 ">
                        <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                            <div class="t-cell">
                                <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">10 000 руб.</div>
                                <div class="t592__price t-heading t-heading_md" style="" field="price2">9000 руб.</div>
                                <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">Оптовая продажа 10 дисков.<br /><br />В цену включено: генерация 10 уникальных кодов.<br /></div>
                                <a href="../Home/CreateListDisks/10" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить 10 кодов</td></tr></table></a>
                            </div>
                        </div>
                    </div>
                    <div class="t592__col t-col t-col_6 ">
                        <div class="t592__content t-align_center" style="padding-top: 70px;padding-bottom: 70px;background-color: #ffffff;border-color: #e6e6e6;border-radius: 5px;box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);">
                            <div class="t-cell">
                                <div class="t592__price t592__price_old t-heading t-heading_md" style="" field="price2_old">50 000 руб.</div>
                                <div class="t592__price t-heading t-heading_md" style="" field="price2">40 000 руб.</div>
                                <div class="t592__descr t-descr t-descr_xs t-margin_auto" style="max-width:300px;" field="descr2">Оптовая продажа 50 дисков.<br /><br />В цену включено: генерация 50 уникальных кодов.<br /></div>
                                <a href="../Home/CreateListDisks/50" class="t592__btn t-btn t-btn_sm" style="color:#ffffff;background-color:#13ce66;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;"><table style="width:100%; height:100%;"><tr><td>Купить 50 кодов</td></tr></table></a>
                            </div>
                        </div>
                    </div>

                </div>


                <script type="text/javascript">$(document).ready(function () { setTimeout(function () { t592_init('47315556'); }, 500); $(window).bind('resize', t_throttle(function () { t592_init('47315556') }, 250)); $('.t592').bind('displayChanged', function () { t592_init('47315556'); }); });</script>
            </div>
        </div>
    </div>

    <a name="faq" style="font-size:0;"></a>
    <div id="rec46741641" class="r t-rec" style=" " data-record-type="215"><a name="faq" style="font-size:0;"></a></div>

    <div id="rec46741642" class="r t-rec t-rec_pt_120 t-rec_pb_60" style="padding-top:120px;padding-bottom:60px; " data-record-type="255">
        <!-- T225 --><div class="t225">
            <div class="t-container t-align_center">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t225__title t-title t-title_md" field="title" style="font-size:42px;">
                        Частые вопросы
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec51770050" class="r t-rec t-rec_pt_60 t-rec_pb_90" style="padding-top:60px;padding-bottom:90px; " data-animationappear="off" data-record-type="665"><!-- T665--><div class="t665"> <div class="t-container"> <div class="t665__col t-col t-col_8 t-prefix_2"> <div class="t665__wrapper" itemscope itemtype="http://schema.org/Question"> <div class="t665__question" style=""> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title__1491922643181" style="text-transform:uppercase;" itemprop="name">Вопрос:</div> <div class="t665__question-text t-descr t-descr_xs" field="li_text__1491922643181" style="" itemprop="text"><strong>Как можно платить?</strong></div> <div class="t665__tail t665__tail_left"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#222"> <path d="M1255,3123c0,0-0.7,5.7-2,8.8c-1.9,4.3-7.7,13.4-7.7,13.4s9.3-2.5,18-8.8c2.6-1.9,10.4-11,12.6-13.5" /> </g> </g> </svg> </div> </div> <div class="t665__answer" style="" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title2__1491922643181" style="text-transform:uppercase;" itemprop="name">ответ:</div> <div class="t665__question-text t-descr t-descr_xs" field="li_text2__1491922643181" style="" itemprop="text">Банковской картой, Яндекс Деньгами или со счета мобильного телефона. <br /></div> <div class="t665__tail t665__tail_right"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#eee"> <path d="M1275.13811,3123 C1272.95728,3125.43852 1265.08297,3134.61485 1262.52627,3136.47672 C1253.84354,3142.79977 1244.5,3145.28571 1244.5,3145.28571 C1244.5,3145.28571 1250.29058,3136.12799 1252.15133,3131.84682 C1253.51931,3128.69942 1254.18621,3123 1254.18621,3123" transform="translate(1259.819055, 3134.142857) scale(-1, 1) translate(-1259.819055, -3134.142857) "></path> </g> </g> </svg> </div> </div> </div> </div> <div class="t665__col t-col t-col_8 t-prefix_2"> <div class="t665__wrapper" itemscope itemtype="http://schema.org/Question"> <div class="t665__question" style=""> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title__1480611044356" style="text-transform:uppercase;" itemprop="name">Вопрос:</div> <div class="t665__question-text t-descr t-descr_xs" field="li_text__1480611044356" style="" itemprop="text"><strong>Где нанесут гравировку?</strong> <br /></div> <div class="t665__tail t665__tail_left"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#222"> <path d="M1255,3123c0,0-0.7,5.7-2,8.8c-1.9,4.3-7.7,13.4-7.7,13.4s9.3-2.5,18-8.8c2.6-1.9,10.4-11,12.6-13.5" /> </g> </g> </svg> </div> </div> <div class="t665__answer" style="" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title2__1480611044356" style="text-transform:uppercase;" itemprop="name">ответ:</div> <div class="t665__question-text t-descr t-descr_xs" field="li_text2__1480611044356" style="" itemprop="text">В разделе "Авторизованные сервисы" указан список партнеров, где могут сделать гравировку кода, сгенерированного сервисом SkrinDisk.<br /><br />Вы также можете обратиться любой другой автосервис или шиномонтажную мастерскую, где есть услуга гравировки.<br /><br />Услуги по гравировке оплачивается по действующим у них прайс-листам.</div> <div class="t665__tail t665__tail_right"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#eee"> <path d="M1275.13811,3123 C1272.95728,3125.43852 1265.08297,3134.61485 1262.52627,3136.47672 C1253.84354,3142.79977 1244.5,3145.28571 1244.5,3145.28571 C1244.5,3145.28571 1250.29058,3136.12799 1252.15133,3131.84682 C1253.51931,3128.69942 1254.18621,3123 1254.18621,3123" transform="translate(1259.819055, 3134.142857) scale(-1, 1) translate(-1259.819055, -3134.142857) "></path> </g> </g> </svg> </div> </div> </div> </div> <div class="t665__col t-col t-col_8 t-prefix_2"> <div class="t665__wrapper" itemscope itemtype="http://schema.org/Question"> <div class="t665__question" style=""> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title__1524461956181" style="text-transform:uppercase;" itemprop="name">вопрос:<br /></div> <div class="t665__question-text t-descr t-descr_xs" field="li_text__1524461956181" style="" itemprop="text"><strong>Колеса все-таки сняли, что дальше?</strong><br /></div> <div class="t665__tail t665__tail_left"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#222"> <path d="M1255,3123c0,0-0.7,5.7-2,8.8c-1.9,4.3-7.7,13.4-7.7,13.4s9.3-2.5,18-8.8c2.6-1.9,10.4-11,12.6-13.5" /> </g> </g> </svg> </div> </div> <div class="t665__answer" style="" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"> <div class="t665__question-name t-uptitle t-uptitle_xs" field="li_title2__1524461956181" style="text-transform:uppercase;" itemprop="name">ответ:<br /></div> <div class="t665__question-text t-descr t-descr_xs" field="li_text2__1524461956181" style="" itemprop="text">Заходите к нам на сайт в раздел "Мои диски", нажимаете кнопку "Диски украдены". В базе сайта они получают отметку "украдены", сообщение об этом уходит в МВД.<br /><br />Если в дальнейшем, спустя время, украденные у вас диски, предложат кому-то купить, и покупатель перед покупкой проверит их код на сайте, система выдаст сообщение - "Диски украдены". Одновременно с этим, хозяин дисков, администрация сайта и МВД РФ получат сообщение с номером телефона продавца и кодом дисков. Это облегчит поиск злоумышленников и возмещение убытков.<br /></div> <div class="t665__tail t665__tail_right"> <svg width="33px" height="24px" viewBox="0 0 33 24"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-1244.000000, -3123.000000)" fill="#eee"> <path d="M1275.13811,3123 C1272.95728,3125.43852 1265.08297,3134.61485 1262.52627,3136.47672 C1253.84354,3142.79977 1244.5,3145.28571 1244.5,3145.28571 C1244.5,3145.28571 1250.29058,3136.12799 1252.15133,3131.84682 C1253.51931,3128.69942 1254.18621,3123 1254.18621,3123" transform="translate(1259.819055, 3134.142857) scale(-1, 1) translate(-1259.819055, -3134.142857) "></path> </g> </g> </svg> </div> </div> </div> </div> </div></div></div>

    <div id="rec51769357" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="607">
        <!-- T607 --><div class="t607 t607__middle-pos" style=" margin-right:20px;">
            <ul class="t607__list">
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#checkdisk"><div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Проверить диски</div><div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); "></div></a>
                </li>
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#stepbystep">
                        <div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Пошаговая инструкция</div><div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); "></div>
                    </a>
                </li>
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#clientstory">
                        <div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Истории клиентов</div>
                        <div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); ">
                        </div>
                    </a>
                </li>
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#price">
                        <div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Цены</div><div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); "></div>
                    </a>
                </li>
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#faq"><div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Частые вопросы</div><div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); "></div></a>
                </li>
                <li class="t607__list_item" style="padding:12.5px 0;">
                    <a class="t-menu__link-item" href="#contacts">
                        <div class="t607__tooltip t-descr t-descr_xs" style="background:#000000; line-height:2.5; border-radius:3px; color:#ffffff;font-size:14px;font-weight:600; right:33px;">Контакты</div><div class="t607__dot" style="background:#ffea00; border: 2px solid #ffea00; width:13px; height:13px; box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); "></div>
                    </a>
                </li>
            </ul>
        </div>
        <style>
            #rec51769357 .t607__tooltip::after {
                border-left-color: #000000;
            }

            #rec51769357 .t-menu__link-item.t-active .t607__dot {
                background: #dbdbdb !important;
                opacity: 1 !important;
            }
        </style>
        <script type="text/javascript">$(document).ready(function () { setTimeout(function () { t607_init('51769357'); }, 100); });</script>
    </div>


    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">

        function OnSuccess(data) {
            vs('block');
        }

        function vs(pokazat) {
            document.getElementById('roditelskoe_okno').style.display = pokazat;
        }
        function validate() {
            console.log("validate");
            var phone = document.getElementById('phone').value;
            var code = document.getElementById('code').value;
            console.log();
            var m = phone.split('');
            console.log(m);
            var Arr = m.filter(function (simvol) {

                return !isNaN(simvol);
            });
            console.log(Arr.length);
            if ((Arr.length > 9) && (Arr.length < 12)) {
                return true;
            } else {
                alert("Введите корректный номер телефона!");
                return false;
            }
        }
    </script>

    <div id="roditelskoe_okno" class="roditelskoe_okno">
        <center>
            <div id="okno">
                <div class="telo-okna">
                    <center>
                        <div id="results"></div>
                        <p><a href="#" onclick="vs('none')">Закрыть</a></p>
                    </center>
                </div>
            </div>
        </center>
    </div>

    <div id="loading" class="roditelskoe_okno">
        <center>
            <div id="okno">
                <div class="telo-okna">
                    <center>
                        <h3>Подождите</h3><br />

                        <img src="../../Content/preloader.gif">
                    </center>
                </div>
            </div>
        </center>
    </div>

    <style>
        .roditelskoe_okno {
            opacity: 0.95;
            background: #FFF;
            width: 100%;
            height: 100%;
            display: none;
            left: 0;
            top: 0;
            position: fixed;
            z-index: 100;
        }

        #okno {
            width: 40%;
            background-clip: padding-box;
            background-color: #FFF;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            left: 30%;
            top: 10%;
            /*margin-left: -280px;*/
            position: fixed;
            outline: medium none;
            z-index: 1050;
        }

        .telo-okna {
            position: relative;
            overflow-y: auto;
            padding: 15px;
            max-height: 400px;
        }
    </style>
</body>
</html>