@{
    Layout = null;
}

<div class="jumbotron" style="border-radius:10px; background-color:white;border:1px inset black; margin-left:10px;margin-right:10px; ">
    <center>
        <p><font size="6" color="black" face="Georgia, serif">Код успешно передан новому владельцу</font></p>

        <p><font size="4" color="black" face="Georgia, serif">Данный код больше не будет отображаться на странице мои диски</font></p>

        <p><font size="2" color="black" face="Georgia, serif">В случае, если код не отображается на странице мои диски у нового владельца, отправьте сообщение на почту, указанную в поле контакты. Наши сотрудники вышлют вам код в течение суток.</font> </p>

    </center>
</div>