body {
}
 #rec51768386 .t396__artboard {
    height: 956px;
    background-color: #ffffff;
}

#rec51768386 .t396__filter {
    height: 956px;
}

#rec51768386 .t396__carrier {
    height: 956px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec51768386 .t396__artboard {
        height: 785px;
    }

    #rec51768386 .t396__filter {
        height: 785px;
    }

    #rec51768386 .t396__carrier {
        height: 785px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec51768386 .t396__artboard {
        height: 490px;
    }

    #rec51768386 .t396__filter {
        height: 490px;
    }

    #rec51768386 .t396__carrier {
        height: 490px;
    }
}

@media screen and (max-width: 639px) {
    #rec51768386 .t396__artboard {
        height: 376px;
    }

    #rec51768386 .t396__filter {
        height: 376px;
    }

    #rec51768386 .t396__carrier {
        height: 376px;
    }
}

@media screen and (max-width: 479px) {
    #rec51768386 .t396__artboard {
        height: 730px;
    }

    #rec51768386 .t396__filter {
        height: 730px;
    }

    #rec51768386 .t396__carrier {
        height: 730px;
    }
}

#rec51768386 .tn-elem[data-elem-id="1494860576199"] {
    z-index: 1;
    top: 20px;
    left: calc(50% - 600px + 20px);
    width: 1160px;
    height: 650px;
}

    #rec51768386 .tn-elem[data-elem-id="1494860576199"] .tn-atom {
        background-color: #dbdbdb;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec51768386 .tn-elem[data-elem-id="1494860636660"] {
    z-index: 2;
    top: 690px;
    left: calc(50% - 600px + 20px);
    width: 261px;
    height: 228px;
}

    #rec51768386 .tn-elem[data-elem-id="1494860636660"] .tn-atom {
        background-color: #dbdbdb;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec51768386 .tn-elem[data-elem-id="1524460183888"] {
    z-index: 3;
    top: 690px;
    left: calc(50% - 600px + 321px);
    width: 261px;
    height: 228px;
}

    #rec51768386 .tn-elem[data-elem-id="1524460183888"] .tn-atom {
        background-color: #dbdbdb;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec51768386 .tn-elem[data-elem-id="1524460204984"] {
    z-index: 4;
    top: 690px;
    left: calc(50% - 600px + 618px);
    width: 262px;
    height: 228px;
}

    #rec51768386 .tn-elem[data-elem-id="1524460204984"] .tn-atom {
        background-color: #dbdbdb;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec51768386 .tn-elem[data-elem-id="1524460208473"] {
    z-index: 5;
    top: 690px;
    left: calc(50% - 600px + 919px);
    width: 261px;
    height: 228px;
}

    #rec51768386 .tn-elem[data-elem-id="1524460208473"] .tn-atom {
        background-color: #dbdbdb;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: transparent;
        border-style: solid;
    }

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

              